@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}
